body {
    background-color: #c7011a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    padding: 10px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

.container {
    color: white;
    text-align: center;
    margin: auto;
}

.menu {
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 1em black;
}

.container p {
    display: inline;
    font-size: 30px;
    margin: 20px;
}

.cercle {
    height: 20em;
    width: 20em;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    margin: auto;
    box-shadow: 0px 0px 1em black;
}

#timer {
    color: white;
    text-align: center;
    margin: auto;
    display: flex;
    font-size: 6em;
}

button {
    margin: auto;
    border-radius: 50%;
    font-size: 3rem;
    color: transparent;
}

#start {
    color: black;
}

#reset {
    color: black;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}