body {
    background-color: #c7011a !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center !important;
}

header {
    padding: 10px;
}

h1 {
    color: white !important;
    text-align: center;
    font-size: 50px !important;
    font-weight: bold !important;
}

.container {
    color: white;
    text-align: center;
    margin: auto;
}

.menu {
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0px 0px 1em black;
    padding: 12px;
}

.container p {
    display: inline;
    font-size: 30px;
    margin: 20px;
}

.cercle {
    height: 400px;
    width: 400px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 1em black;
}

#timer {
    color: white;
    text-align: center;
    margin: auto;
    display: flex;
    font-size: 6em;
}

button {
    margin: auto !important;
    border-radius: 50% !important;
    font-size: 3rem !important;
    color: transparent !important;
}

#start {
    color: white !important;
}

#reset {
    color: white !important;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}
